body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

.top-container {
    background-color: #d9ecf2;
}

.middle-container {
    height: 300px;
    width: 300px;
    background-color: blue;
    display: inline-block;
}

.bottom-container {
    height: 300px;
    width: 300px;
    background-color: red;
    display: inline-block;
    position: static;
    top: 150px;
}